function LinkedList.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 0
pop this 1
push pointer 0
return
function LinkedList.dispose 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call LinkedList.dispose 1
pop temp 0
label IF_FALSE0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function LinkedList.next 0
push argument 0
pop pointer 0
push this 1
return
function LinkedList.node 0
push argument 0
pop pointer 0
push this 0
return
function LinkedList.hasNext 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
not
return
function LinkedList.setNode 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function LinkedList.setNext 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call LinkedList.removeNext 1
pop temp 0
label IF_FALSE0
push argument 1
pop this 1
push constant 0
return
function LinkedList.removeNext 0
push argument 0
pop pointer 0
push this 1
call LinkedList.dispose 1
pop temp 0
push constant 0
pop this 1
push constant 0
return
